@import '../variables';

.textbox {
  display: flex;
  flex-direction: column;
  padding: $content-padding / 2 0;

  &-inline {
    flex-direction: row;
    align-items: center;

    &>label {
      margin-right: $content-padding / 2;
    }
  }

  &>input, &>textarea {
    min-width: 100px;
    border: $border-width solid $color-dark;

    @include glow;

    &:focus {
      border: $border-width solid $color-lessdark;
    }
  }

  &>input {
    height: $input-height;
  }

  &>textarea {
    resize: vertical;
  }
}