@import '../variables';
@import '../Content/style';
@import '../Space/style';

.toolbar {
  background-color: $color-primary;

  &-body {
    @extend .content;
    @extend .spacer;
    overflow-x: auto;
  }


  &-items, &-items>*, &-title, &-title>*, &-title>div>* {
    color: $color-light;
    white-space: nowrap;
  }

  &-title, &-title>div {
    font-size: 1.2em;
    font-weight: 600;
    white-space: nowrap;
    margin-right: 1em;
    order: 1;

    &>a, &>a:hover {
      border-bottom: none;
    }

    @include breakpoint(phablet) {
      display: inline;
      order: 0;
    }
  }

  &-items {
    &>* {
      margin: 0 0.5em;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}