@import '../variables';

.select {
  display: flex;
  flex-direction: column;
  padding: $content-padding / 2 0;

  &-inline {
    flex-direction: row;
    align-items: center;

    &>label {
      margin-right: $content-padding / 2;
    }
  }

  &>select {
    height: $input-height + 6;
    min-width: 110px;
    background-color: $color-light;
    border: $border-width solid $color-dark;

    @include glow;

    &:focus {
      border: $border-width solid $color-lessdark;
      background-color: $color-light-darker;
    }

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
  }
}