@import '../../../../src/components/variables';

.space-example {
  background: $color-gray;
  padding: 1em 0;
}

.space-example-block {
  flex-grow: 0.25;
  height: 100px;
  background: $color-lessdark;
  border: 2px solid $color-secondary;
}