/* Coolors Exported Palette - coolors.co/b11717-ff7f11-134074-fdfdfd-07090f */
$color-lessdark: rgb(3, 21, 75);
$color-dark: rgba(7, 9, 15, 1);
$color-gray: #ccc;
$color-light: rgba(253, 253, 253, 1);
$color-light-darker: rgb(245, 245, 245);
$color-light-darkest: rgb(238, 238, 238);
$color-error: rgba(177, 23, 23, 1);
$color-primary: rgba(19, 64, 116, 1);
$color-primary-dark: rgba(12, 40, 73, 1);
$color-secondary: rgba(255, 127, 17, 1);
$color-secondary-dark: rgba(238, 120, 24, 1);

$color-accent: $color-secondary;

$content-width: 700px;
$content-padding: 1em;

$border-width: 2px;