@import url('https://use.fontawesome.com/c49df8d133.css');

footer {
  margin: 5em 0;
  color: rgb(126, 126, 126);
  a {
    color: rgb(126, 126, 126);
  }
}

.demo-toolbar {
  position: fixed;
  width: 100%;
}

.initial-content {
  padding-top: 3em;
}

.no-underline {
  border-bottom: none;
}